.navbar {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border: 0;
  font-size: 12px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  color: white;
}

.navbar > .navbar-right {
  width: 100%;
}

.navbar > .navbar-right > .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 3em 2em;
}

.navbar > .navbar-right > .navbar-nav > li > a {
  color: white;
}
